name: build

on: [push, pull_request]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  jvm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Install JDK 1.8
        id: jdk8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Checkout
        uses: actions/checkout@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Configure JDK
        id: jdk
        uses: actions/setup-java@v1
        with:
          java-version: 1.7
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        env:
          JDK_CONTEXT: ${{ toJson(steps.jdk.outputs) }}
        run: echo "$STEPS_CONTEXT"
      - name: Test
        run: ./gradlew -Porg.gradle.java.home=${{ steps.jdk8.outputs.path }} build

